# Node
node_modules/
.next/

# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env
*\backend\src\.env
# Logs
*.log

# OS
.DS_Store
backend/keys/
# Tests
backend/src/data.json
backend/data.json
#Data file too large